nav {
	background-color: white;
}
ul {
	position: relative;
	left: 60%;
	top: 1rem;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 35%;
	height: 4em;
}
li {
	float: right;
	/*border: 1px dashed blue;*/
	font-family: sans-serif;
	padding: 0;
	float: left;
	height: 100%;
	width: calc(100% / 3 - 1rem);

}

li a {
	float: right;
	display: block;
	margin-left: 25%;
	/*border: 1px dashed red;*/
	text-align: center;
	text-decoration: none;
	vertical-align: bottom;
	width: 50%;
	height: 50%;
	color: rgba(136, 136, 136, 0.89);
	font-size: 160%;
}

#landing-container {
	position: relative;
	height: 50rem;
	width: 100%;
	border: 1px solid blue;
}
#about-container {
	position: relative;
	height: 35rem;
	width: 100%;
}
#portfolio-container {
	position: relative;
	height: 35rem;
	width: 100%;
	/*border: 1px solid green;*/
}
#form-container {
	position: relative;
	height: 25%;
	width: 100%;
	/*border: 1px solid orange;*/
	text-align: center;
}
#contact-form {
	display: inline-block;
	height: 10%;
	width: 30%;
	border: 1px dashed red;
}
input {
	height: 5rem;
	width: 30rem;
	text-align: center;
	font-size: 2rem;
}

textarea {
	position: relative;
	height: 5rem;
	width: 30rem;
	font-size: 2rem;
}
