nav {
	background-color: white;
}
ul {
	position: relative;
	left: 60%;
	top: 1rem;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 35%;
	height: 4em;
}
li {
	float: right;
	/*border: 1px dashed blue;*/
	font-family: sans-serif;
	padding: 0;
	float: left;
	height: 100%;
	width: calc(100% / 3 - 1rem);

}

li a {
	float: right;
	display: block;
	margin-left: 25%;
	/*border: 1px dashed red;*/
	text-align: center;
	text-decoration: none;
	vertical-align: bottom;
	width: 50%;
	height: 50%;
	color: rgba(136, 136, 136, 0.89);
	font-size: 160%;
}

#landing-image {
	position: relative;
	height: 100%;
	width: 100%;
}

#landing-container {
	position: relative;
	height: 50rem;
	width: 100%;
	/*border: 1px solid blue;*/
}

#skills-container {
	position: relative;
	height: 35rem;
	width: 100%;
}

#about-me-container {
	position: relative;
	height: 30%;
	width: 50%;
	left: 25%;
	border: 1px solid black;
}
#individual-skill-container {
	position: relative;
	height: 30%;
	width: 8%;
	/*border: 1px dashed green;*/
}
#js-logo-container {
	position: relative;
	height: 30%;
	width: 8%;
	top: 30%;
	/*border: 1px dashed green;*/
}
#js-logo {
	position: relative;
	height: 100%;
	width: 100%;
}
#html-container {
	position: relative;
	height: 30%;
	width: 8%;
	top: 1%;
	left: 10%;
}
#html-logo {
	position: relative;
	height: 100%;
	width: 100%;
	/*border: 1px dashed red;*/
}
#css-logo-container {
	position: relative;
	height: 30%;
	width: 8%;
	top: -29%;
	left: 20%;
	/*border: 1px dashed blue;*/
}
#css-logo {
	position: relative;
	height: 100%;
	width: 100%;
}
#node-logo-container {
	position: relative;
	height: 30%;
	width: 15%;
	top: -60%;
	left: 32%;
	/*border: 1px dashed orange;*/
}
#node-logo {
	position: relative;
	height: 100%;
	width: 100%;
}
#express-logo-container {
	position: relative;
	height: 22%;
	width: 15%;
	top: -89%;
	left: 50%;
	/*border: 1px dashed yellow;*/
}
#express-logo {
	position: relative;
	height: 100%;
	width: 100%;
}
#react-logo-container {
	position: relative;
	height: 22%;
	width: 18%;
	top: -112%;
	left: 67%;
}
#react-logo {
	position: relative;
	height: 100%;
	width: 100%;
}
#rails-logo-container {
	position: relative;
	height: 30%;
	width: 8%;
	top: -137%;
	left: 90%;
}
#rails-logo {
	position: relative;
	height: 100%;
	width: 100%;
}
#about-container {
	position: relative;
	height: 41rem;
	width: 100%;
}
#portfolio-container {
	position: relative;
	height: 35rem;
	width: 100%;
	/*border: 1px solid green;*/
}
#form-container {
	position: relative;
	height: 25%;
	width: 100%;
	/*border: 1px solid orange;*/
	text-align: center;
}
#contact-form {
	display: inline-block;
	height: 10%;
	width: 30%;
	border: 1px dashed red;
}
input {
	height: 5rem;
	width: 30rem;
	text-align: center;
	font-size: 2rem;
}

textarea {
	position: relative;
	height: 5rem;
	width: 30rem;
	font-size: 2rem;
}

footer {
	position: relative;
	height: 5rem;
	width: 100%;
	border: 1px solid purple;
	font-size: 1rem;
}
