nav {
	background-color: white;
}
ul {
	position: relative;
	left: 60%;
	top: 1rem;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 35%;
	height: 4em;
}
li {
	float: right;
	/*border: 1px dashed blue;*/
	font-family: sans-serif;
	padding: 0;
	float: left;
	height: 100%;
	width: calc(100% / 3 - 1rem);

}

li a {
	float: right;
	display: block;
	margin-left: 25%;
	/*border: 1px dashed red;*/
	text-align: center;
	text-decoration: none;
	vertical-align: bottom;
	width: 50%;
	height: 50%;
	color: rgba(136, 136, 136, 0.89);
	font-size: 160%;
}

#landing-text {
	position: relative;
	color: white;
	font-family: sans-serif;
	font-size: 600%;
	top: 30%;
}

#landing-container {
	position: relative;
	height: 50rem;
	width: 100%;
	top: -10%;
	background: url("./fall.jpg");
	background-size: cover;
	text-align: center;
	border: 1px solid white;
}

#skills-container {
	position: relative;
	height: 35rem;
	width: 100%;
}

#about-me-container {
	position: relative;
	height: 30%;
	width: 50%;
	left: 25%;
	text-align: center;
	/*border: 1px solid black;*/
}
#hello-msg {
	margin: 0 auto;
	height: 50%;
	width: 100%;
	font-size: 500%;
	font-family: sans-serif;
	/*border: 1px solid red;*/
}

#about-me-paragraph {
	position: relative;
	font-size: 150%;
	font-family: sans-serif;
}
#individual-skill-container {
	position: relative;
	height: 30%;
	width: 8%;
	/*border: 1px dashed green;*/
}
#js-logo-container {
	position: relative;
	height: 30%;
	width: 8%;
	top: 30%;
	/*border: 1px dashed green;*/
}
#js-logo {
	position: relative;
	height: 100%;
	width: 100%;
}
#html-container {
	position: relative;
	height: 30%;
	width: 8%;
	top: 1%;
	left: 10%;
}
#html-logo {
	position: relative;
	height: 100%;
	width: 100%;
	/*border: 1px dashed red;*/
}
#css-logo-container {
	position: relative;
	height: 30%;
	width: 8%;
	top: -29%;
	left: 20%;
	/*border: 1px dashed blue;*/
}
#css-logo {
	position: relative;
	height: 100%;
	width: 100%;
}
#node-logo-container {
	position: relative;
	height: 30%;
	width: 15%;
	top: -60%;
	left: 32%;
	/*border: 1px dashed orange;*/
}
#node-logo {
	position: relative;
	height: 100%;
	width: 100%;
}
#express-logo-container {
	position: relative;
	height: 22%;
	width: 15%;
	top: -89%;
	left: 50%;
	/*border: 1px dashed yellow;*/
}
#express-logo {
	position: relative;
	height: 100%;
	width: 100%;
}
#react-logo-container {
	position: relative;
	height: 22%;
	width: 18%;
	top: -112%;
	left: 67%;
}
#react-logo {
	position: relative;
	height: 100%;
	width: 100%;
}
#rails-logo-container {
	position: relative;
	height: 30%;
	width: 8%;
	top: -137%;
	left: 90%;
}
#rails-logo {
	position: relative;
	height: 100%;
	width: 100%;
}
#about-container {
	position: relative;
	height: 44rem;
	width: 100%;
}
#timeline-header {
	position: relative;
	height: 3rem;
	width: 100%;
}
#personal-timeline-header-text {
	position: relative;
	font-size: 300%;
	font-family: sans-serif;
	top: -2rem;
}
#portfolio-container {
	position: relative;
	height: 35rem;
	width: 100%;
	/*border: 1px solid green;*/
}
#portfolio-header {
	position: relative;
	height: 3rem;
	width: 100%;
}
#portfolio-header-text {
	position: relative;
	float: right;
	font-size: 300%;
	font-family: sans-serif;
	top: -2rem;
}
#ga-hunter {
	position: relative;
	height: 80%;
	width: 35%;
	text-align: center;
	left: 32%;
	top: 5%;
}
#ga-hunter-img {
	position: relative;
	height: 100%;
	width: 100%;
	border-radius: 10px;
	border: 1px solid black;
}
#form-container {
	position: relative;
	top: 43rem;
	height: 50%;
	width: 100%;
	text-align: center;
}
#contact-form-header {
	position: relative;
	height: 5rem;
	width: 100%;
}
#contact-form-header-text {
	position: relative;
	font-size: 300%;
	font-family: sans-serif;
	top: -2rem;
}
#contact-form {
	display: inline-block;
	height: 15%;
	width: 30%;
	font-family: sans-serif;
}
input {
	height: 5rem;
	width: 30rem;
	text-align: center;
	font-size: 2rem;
	border: 1px solid lightgrey;
}

textarea {
	position: relative;
	height: 5rem;
	width: 30rem;
	font-size: 2rem;
	font-family: sans-serif;
	text-align: center;
}
#copyright {
	position: relative;
	/*left: 91%;*/
	top: 10%;
	text-align: center;
	font-family: sans-serif;
}
footer {
	position: relative;
	height: 5rem;
	width: 100%;
	font-size: 1rem;
}
#github-logo {
	position: relative;
	height: 100%;
	width: 5rem;
	top: -1rem;
}
